Package: wifidog
Version: 1.3.0-1
Depends: libc, libssp, iptables-mod-extra, iptables-mod-ipopt, iptables-mod-nat-extra, libpthread
Source: qca/feeds/packages/net/wifidog
License: GPL-2.0
LicenseFiles: COPYING
Section: net
Maintainer: Michael Haas <haas@computerlinguist.org>
Architecture: ipq
Installed-Size: 51550
Description:  The Wifidog project is a complete and embeddable captive
 portal solution for wireless community groups or individuals
 who wish to open a free Hotspot while still preventing abuse
 of their Internet connection.
